@import url('https://fonts.googleapis.com/css2?family=Honk&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: "DMSerif";
    src: url(./assets/font/Oswald-VariableFont_wght.ttf);
}
body{
    font-family: "DMSerif", Verdana;
    background: url(./assets/images/pexels-francesco-ungaro-998641.jpg) center/cover;
    /* VH = 100% de la taille de l'écran (view port height)*/
    min-height: 100vh;
}
h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    /* les tailles de polices doivent être en REM */ 
    font-size: 2.5rem;
    text-shadow: 4px 5px 7px #00000047;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
} 

main {
    height: 500px;
    background: rgba(255, 255, 255, 0.748);
}
 

     
